* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

body {
  height: 1600px;
}

#screen {
  width: 100%;
  background-color: rgb(255, 82, 0);
}

#navbar {
  display: none;
}

#secondContainer {
  display: none;
}

#thirdContainer {
  display: none;
}

.leftPart {
  display: none;
}

.rightPart {
  display: none;
}

#mobileNavbar {
  width: 93%;
  margin: auto auto 30px auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSideNav {
  display: flex;
  align-items: center;
  gap: 5px;
}
.leftSideNav i {
  font-size: 18px;
  color: #fff;
}
.leftSideNav h3 {
  font-size: 18px;
  color: #fff;
}
.rightSideNav {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  text-decoration: none;
}
.rightSideNav i {
  font-size: 35px;
  color: black;
}

.search {
  width: 93%;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
  background-color: white;
  margin: auto auto 2px auto;
}
.search input {
  padding: 16px 15px;
  outline: none;
  border: none;
  width: 92%;
  border-radius: 15px;
  font-weight: 600;
  font-size: 13px;
  color: #98989c;
}
.search i {
  color: black;
  margin-right: 17px;
  font-size: 18px;
  display: block;
}

input::placeholder {
  color: #676769;
  opacity: 1;
  font-weight: 600;
  font-size: 13px;
}

.thirdMobileContainer {
  width: 87%;
  height: 130px;
  margin: auto auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thirdMobileContainer h3 {
  color: white;
  font-size: 18px;
}

.imageContainer img {
  width: 90px;
  height: 130px;
}

.fourthContainer {
  width: 96%;
  margin: auto auto 20px auto;
}

.fourthContainer img {
  width: 100%;
  height: 100%;
}

.fifthContainer {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto 30px auto;
}
.fifthContainer a {
  width: 50%;
}
.fifthContainer a img {
  width: 100%;
  height: 100%;
}

#foodComponentScreen {
  width: 100%;
  height: 210px;
  padding-left: 9px;
  margin-bottom: 30px;
}

.foodScrollWrapper {
  display: flex;
  gap: 10px;
  height: 100%;
  overflow-x: auto; /* ✅ Makes it horizontally scrollable */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.foodScrollWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.foodColumn {
  scroll-snap-align: start;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.firstImageContainer,
.secondImageContainer {
  width: 96px;
  min-width: 96px;
  height: 96px;
  min-height: 96px;
  margin: auto;
}

.firstImageContainer img,
.secondImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopGroceriesContainer {
  /* border: 1px solid black; */
  width: 95%;
  margin: auto 0 30px auto;
  height: auto;
}
.shopGroceriesContainer h3 {
  margin-bottom: 13px;
}
.cardsWrapper {
  display: flex;
  gap: 20px;
  /* height: 260px; */
  /* border: 1px solid black; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}
.cardsWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.cardInstamart p {
  text-align: center;
  font-weight: bold;
  color: rgba(2, 6, 12, 0.75);
  font-size: 14px;
  margin-top: 7px;
  width: 80px;
  min-width: 80px;
}
.instamartImageContainer img {
  width: 80px;
  min-width: 80px;
  height: 96px;
  min-height: 96px;
  object-fit: cover;
}

.restaurantContainer {
  width: 95%;
  margin: auto 0 30px auto;
  /* border: 1px solid black; */
}

.restaurantCardwrapper {
  display: flex;
  gap: 15px;
  /* border: 1px solid black; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.restaurantCardwrapper::-webkit-scrollbar {
  display: none;
}

.restaurantcards {
  border-radius: 16px;
  border: 1px solid rgba(2, 6, 12, 0.08);
  filter: drop-shadow(rgba(27, 30, 36, 0.08) 0px 0px 7.905px);
  text-decoration: none;
}

.imageinnerContent {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  align-items: center;
  padding: 0 10px;
  color: white;
  font-weight: bold;
}

.restaurantContainer h3 {
  margin-bottom: 13px;
  font-size: 17px;
}

.restaurantimageContainer {
  width: 308.4px;
  height: 182px;
  position: relative;
}
.restaurantimageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px 16px 0px 0px;
  transition: opacity 0.5s;
  opacity: 1;
}
.restaurantrating {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardbottomInfoContainer {
  padding: 12px;
}

.firstLine {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  letter-spacing: -0.33px;
  color: rgba(2, 6, 12, 0.6);
  font-weight: bold;
  margin-bottom: 4px;
}

.firstTag {
  border-radius: 8px;
  background: rgb(27, 166, 114);
  height: 28px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 8px;
  color: white;
}
.secondTag {
  border-radius: 8px;
  background: var(--Light-Comms-Positive-Sub, #c8f9e5);
  height: 28px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 8px;
  color: rgb(27, 166, 114);
}
.appDownloadBanner {
  width: 100%;
  height: 242px;
  display: none;
  margin-bottom: 100px;
}
.appDownloadBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #f0f0f5;
  width: 100%;
  /* padding-top: 100px; */
  overflow: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 100px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px;
  color: rgba(2, 6, 12, 0.6);
  font-weight: bold;
  padding: 0 10px;
}

.footer-logo .logo-img {
  width: 100%;
  height: 100%;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.thirdColumn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.columnlast {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
}

.column h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  font-size: 16px;
  margin-bottom: 18px;
  color: rgba(2, 6, 12, 0.6);
  cursor: pointer;
  font-weight: bold;
}

.column select {
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #2e2e2e;
  cursor: pointer;
}

.homePageBottom {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
.homePageBottom {
  font-size: 16px;
  color: rgba(2, 6, 12, 0.75);
}
.rightstickerContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
  }

  .footer-logo {
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }
  .footer-logo img {
    height: 32px;
    width: 106px;
    object-fit: cover;
  }

  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  }

  .column,
  .thirdColumn,
  .columnlast {
    width: 48%;
  }

  .social-icons {
    gap: 10px;
    font-size: 18px;
  }

  .homePageBottom {
    width: 90%;
    flex-direction: column;
  }
  .homePageBottom h2 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .rightstickerContainer {
    width: 100%;
    justify-content: space-between;
  }
  .appleBanner img,
  .playstoreBanner img {
    width: 90%;
    height: 90%;
    margin: auto;
    display: block;
  }
}

@media (min-width: 1024px) {
  .appDownloadBanner {
    display: block;
  }
  .restaurantContainer {
    width: 80%;
    margin: auto auto 90px auto;
    height: auto;
  }
  .restaurantContainer h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .shopGroceriesContainer {
    width: 80%;
    margin: auto auto 90px auto;
    height: auto;
  }
  .shopGroceriesContainer h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .cardsWrapper {
    gap: 40px;
  }
  .cardInstamart p {
    width: 144px;
    min-width: 144px;
    text-align: center;
    font-size: 20px;
  }
  .instamartImageContainer {
    width: 144px;
    min-width: 144px;
    height: 180px;
    min-height: 180px;
  }
  .instamartImageContainer img {
    width: 100%;
    height: 100%;
  }
  #foodComponentScreen {
    width: 100%;
    height: 380px;
    overflow-x: hidden;
    margin-bottom: 100px;
  }

  .foodScrollWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%; /* ✅ Allow horizontal scrolling */
    height: 100%;
    margin: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .foodScrollWrapper::-webkit-scrollbar {
    display: none;
  }

  .foodColumn {
    scroll-snap-align: start;
    height: 100%;
    width: calc(100% / 7);
    flex: 0 0 calc(100% / 7);
    flex-direction: column;
  }

  .firstImageContainer,
  .secondImageContainer {
    width: 144px;
    min-width: 144px;
    height: 180px;
    min-height: 180px;
    margin: auto;
  }

  #mobileNavbar {
    display: none;
  }
  .mobilesearch {
    display: none !important;
  }
  .thirdMobileContainer {
    display: none;
  }

  .fourthContainer {
    display: none;
  }
  .fifthContainer {
    display: none;
  }
  #screen {
    width: 100%;
    background-color: rgb(255, 82, 0);
    position: relative;
    margin-bottom: 150px;
  }

  #navbar {
    width: 80%;
    padding: 38px 0 4px 0px;
    height: 90px;
    display: flex;
    background-color: rgb(255, 82, 0);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-weight: 600;
  }

  .logo {
    height: 48px;
    width: 160px;
  }
  .logo img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navlinks {
    width: auto;
    color: #ffffff;
  }
  .navlinks ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navlinks ul li a {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  .navlinks ul li:nth-child(3) a {
    border: 1px solid white;
    width: 145px;
    height: 54px;
    padding: 12px 16px;
    border-radius: 12px;
    align-content: center;
    display: block;
  }
  .navlinks ul li:nth-child(3) a i {
    transform: rotate(40deg);
    font-size: 18px;
  }
  .navlinks ul li:nth-child(4) a {
    border: 1px solid rgb(255, 82, 0);
    width: 130px;
    height: 52px;
    padding: 12px 16px;
    border-radius: 16px;
    text-align: center;
    background-color: #000;
    display: inline-block;
    align-content: center;
  }

  /* 2nd Container  */

  #secondContainer {
    height: 300px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 100;
    width: 80%;
    margin: 20px auto auto auto;
  }
  .main {
    width: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .searchBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39%;
    border-radius: 18px;
    background-color: white;
  }
  .location i {
    font-size: 23px;
    color: rgb(255, 82, 0);
  }
  .location input {
    width: 82%;
    padding: 18px 10px;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 18px;
  }

  .location .dropdown {
    color: black;
    font-size: 23px;
    cursor: pointer;
  }
  .search {
    width: 59%;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    font-size: 18px;
    align-items: center;
    background-color: white;
  }
  .search input {
    padding: 18px 20px;
    outline: none;
    border: none;
    width: 92%;
    border-radius: 18px;
    font-size: 18px;
  }
  .search i {
    color: black;
    margin-right: 17px;
    font-size: 18px;
  }

  input::placeholder {
    color: #a0a1a4;
    opacity: 1;
  }

  /* thirdcontainer css  */

  #thirdContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thirdMain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .thirdMain div {
    width: 100%;
  }

  .thirdMain > div img {
    width: 100%;
    height: 100%;
  }

  .leftPart {
    width: 250px;
    height: 510px;
    position: absolute;
    display: block;
    top: 10%;
  }

  .leftImage {
    width: 100%;
    height: 100%;
  }

  .rightPart {
    position: absolute;
    width: 250px;
    right: 0;
    top: 10%;
    display: block;
  }

  .rightImage {
    width: 100%;
    height: 100%;
  }
}
