.register-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#register-screen {
  width: 100%;
  height: 100vh;
}

.top {
  width: 100%;
  height: 165px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 12px;
  margin-bottom: 20px;
}

.leftArrow {
  position: absolute;
  top: 8px;
  font-size: 22px;
  text-decoration: none;
}

.top h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.content a {
  font-size: 14px;
  font-weight: 600;
  color: #ff5200;
  text-decoration: none;
}

.content {
  padding-bottom: 15px;
}

.loginimageContainer img {
  max-height: 134px;
}

#mainContent {
  width: 100%;
  padding: 0 12px;
}

#mainContent label {
  font-size: 12px;
  font-weight: 600;
  color: rgba(2, 6, 12, 0.6);
  display: inline-block;
  margin-bottom: 8px;
}

#mainContent input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  outline: none;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 22px;
}

.btn {
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: #ff5200;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.disclaimer {
  font-size: 12px;
  color: #000;
  line-height: 1.6;
  width: 90%;
  max-width: 400px;
}

.disclaimer a {
  color: #666;
  text-decoration: none;
  font-weight: 600;
}

.disclaimer a:hover {
  text-decoration: underline;
}

.desktopImage {
  display: none;
}

@media (min-width: 500px) {
  .register-main {
    margin-top: 60px;
  }
  #register-screen {
    width: 500px;
    height: 500px;
  }
  .desktopImage {
    display: block;
  }
  .mobileImage {
    display: none;
  }
}

#mainContent select {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  outline: none;
  padding-bottom: 8px;
  margin-bottom: 22px;
  background-color: transparent;
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  color: #000;
  font-family: inherit;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='black'><path d='M2 4l4 4 4-4'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  padding-right: 20px;
}
