.mainContainer {
  height: 100vh;
  background-color: rgb(240, 234, 234);
}

.firstContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  background: #fff;
  height: 64px;
  box-shadow: #e3dbe0 0 2px 4px 0;
  overflow: hidden;
  margin-bottom: 3px;
}
.leftArrow {
  align-self: center;
  margin-top: 10px;
}
.leftArrow i {
  font-size: 20px;
}

.leftContainer {
  display: flex;
  gap: 10px;
}
.imgContainer {
  height: 38px;
  width: 38px;
  border-radius: 8px;
  border: 1px solid rgba(2, 6, 12, 0.05);
  background-color: #fff;
}
.imgContainer img {
  width: 100%;
  height: 100%;
}
.right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: 30px;
}
.leftContainer h4,
p {
  color: rgba(2, 6, 12, 0.75);
}
.leftContainer p {
  color: rgba(2, 6, 12, 0.75);
  font-size: 12px;
  margin-top: 3px;
  font-weight: bold;
}
.body {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 157px);
}
.leftSide {
  width: 20%;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  padding-bottom: calc(
    var(--cart-bottom-bar-height) + var(--view-cart-bar-margin-bottom) +
      var(--web-bottom-bar-height) 0px
  );
  height: 100%;
  background-color: white;
  padding-bottom: 20px;
}
.cardwrapperleftSide {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow-y: auto;
  max-height: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
}
.cardwrapperleftSide::-webkit-scrollbar {
  display: none;
}

.cardwrapperleftSide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rightSide {
  width: 79%;
  height: 100%;
}
.card {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.cardWrapperRightSide {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-top-left-radius: 8px;
  background: white;
}
.cardWrapperRightSide::-webkit-scrollbar {
  display: none;
}
.cardsBuy {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.imgContainerleftSide {
  width: 40px;
  height: 44px;
  border-radius: 8px;
  /* background-image: linear-gradient(
    rgb(222, 53, 143) 0%,
    rgb(158, 30, 98) 100%
  ); */
  background: rgb(240, 240, 245);
  border: 1px solid rgba(2, 6, 12, 0.15);
}
.imgContainerleftSide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card p {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.rightSide h2 {
  font-size: 14px;
  width: 100%;
  background-color: #fff;
  padding: 16px 12px 14px;
}
.cardshopping {
  width: 49%;
  padding: 12px 5px;
  outline: 1px solid rgba(40, 44, 63, 0.05);
  background-color: #fff;
}
.imageContainerShopping {
  width: auto;
  height: auto;
  object-fit: cover;
}
.imageContainerShopping img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.cardshopping h3 {
  font-size: 14px;
  margin-top: 5px;
}
.mins {
  margin-top: 5px;
  font-size: 11px;
  font-weight: bold;
}
.addBtn {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  height: 100%;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 6px 3px;
  border-radius: 7px;
  margin-top: 5px;
  cursor: pointer;
  color: rgb(27, 166, 114);
  font-weight: bold;
  border: 1px solid rgb(177, 167, 167);
}

.bottomBar {
  border-radius: 16px 16px 0 0;
  position: fixed;
  box-shadow: 0 -8px 12px rgba(0, 0, 0, 0.15);
  bottom: -0.5px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  overflow: hidden;
  padding: 0 14px;
}
.firstbottomCard {
  height: 34px;
  padding: 5px 16px;
  margin-top: 3px;
  font-weight: bold;
  font-size: 14px;
}
.imgbottomcnt {
  width: 37px;
  height: 37px;
  border: 1px solid red;
  border-radius: 8px;
}
.imgbottomcnt img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.second {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.leftcontent {
  display: flex;
  gap: 8px;
}
.leftcontent h4 {
  font-size: 14px;
}
.leftcontent p {
  font-size: 12px;
  font-weight: bold;
  margin-top: 3px;
  color: rgb(27, 166, 114);
}
.gtc {
  height: 100%;
  padding: 5px 18px;
  border-radius: 12px;
  background: rgb(27, 166, 114);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}
@media (min-width: 900px) {
  .mainContainer {
    width: 65%;
    margin: auto;
  }
  .card {
    margin: 16px 0 16px 0;
    border-radius: 0;
  }
  .card p {
    font-size: 12px;
  }
  .imageContainerShopping img {
    border-radius: 0px;
  }
  .bottomBar {
    width: 65%;
    left: 17.5%;
    right: 17.5%;
  }
}
