* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}
.topBar {
  margin-bottom: 10px;
  margin-top: 40px;
  /* border: 1px solid black; */
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.topBar i {
  font-size: 26px;
  margin-bottom: 5px;
}
.heading {
  margin-bottom: 15px;
}
.switchContainer {
  margin-left: 10px;
  margin-bottom: 30px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(2, 6, 12, 0.15);
}
.switchContainer a {
  margin-right: 15px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 4px solid rgb(255, 82, 0);
  padding-bottom: 5px;
}

.imagesContainer {
  height: 234px;
  position: relative;
  margin-bottom: 45px;
}
.imagesContainer img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.imageCardContainer {
  width: 90vw;
  padding: 16px 16px 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(2, 6, 12, 0.15);
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 540px;
  position: absolute;
  top: 25px;
  left: 18px;
}
.firstLine {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
}
.firstLine p {
  margin-left: 5px;
}
.locationLine {
  font-size: 13.4px;
  margin-top: 10px;
  font-weight: bold;
}
.openatclosedline {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
}
.secondLine {
  font-size: 14px;
  font-weight: bold;
}
.lastLine {
  border-top: 2px solid rgba(2, 6, 12, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding-top: 10px;
}
.lastLine > div {
  border-right: 2px solid rgba(2, 6, 12, 0.05);
}
.lastLine div {
  width: 47%;
  padding: 4px 4px;
  text-align: center;
  color: rgb(255, 82, 0);
  font-weight: bold;
}

#screen {
  width: 91%;
  margin: auto;
  margin-bottom: 100px;
  /* border: 1px solid saddlebrown; */
}

.offers {
  margin-bottom: 30px;
}
.offers h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

hr {
  left: 0px;
  right: 0px;
  border: 2px solid rgba(2, 6, 12, 0.05);
  margin-bottom: 22px;
}

.offerWrapper {
  display: flex;
  overflow-x: auto; /* Enable horizontal scroll */
  overflow-y: hidden; /* Hide vertical scroll */
  gap: 16px; /* Optional: space between cards */
}
.offerWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.offerCard {
  flex: 0 0 auto;
  width: 214px;
  /* border: 1px solid saddlebrown; */
  display: block;
  border-radius: 16px;
  box-shadow: rgba(27, 30, 36, 0.1) 0px 6.16037px 12.3207px 0px;
  border: 1px solid rgba(2, 6, 12, 0.15);
}

.upperSide {
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px dashed gray;
}
.downside {
  height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 18px;
  gap: 6px;
  border-radius: 16px;

  background: linear-gradient(
    285deg,
    rgba(241, 91, 107, 0.1) -18.01%,
    rgba(241, 91, 106, 0.1) 28.51%,
    rgba(241, 92, 66, 0.1) 64.46%,
    rgba(248, 154, 75, 0.1) 97.07%
  );
}

.inner {
  display: flex;
  flex: 0 0 auto;
  border: 1px solid rgba(2, 6, 12, 0.15);
  gap: 18px;
  padding-left: 8px;
  border-radius: 20px;
  height: 77px;
  width: 328px;
  align-items: center;
}

.creditacardImg {
  width: 50px;
  height: 50px;
  display: flex;
}
.creditacardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FoodImageContainer {
  width: 270px;
  height: 270px;
  flex: 0 0 auto;
}
.FoodImageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rightSideContainer {
  display: none;
}
.leftSide {
  width: 100%;
}
.location h2 {
  margin-bottom: 15px;
  font-size: 18px;
}
.location p {
  color: rgba(2, 6, 12, 0.75);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: justify;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.35px;
  margin-bottom: 7px;
}
.location i {
  margin-right: 18px;
  margin-top: 1px;
  color: rgba(2, 6, 12, 0.75);
}
.location a {
  font-weight: bold;
  color: rgb(255, 82, 0);
  text-decoration: none;
}
.book-table {
  display: none;
}
.bottomTab {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(2, 6, 12, 0.08) 0px -4px 8px 0px;
  z-index: 9999;
  justify-content: space-around;
}
.btn {
  width: 48%;
}
.btn button {
  padding: 16px 2px;
  width: 99%;
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 12px;
}

@media (min-width: 1024px) {
  .bottomTab {
    display: none;
  }
  .topBar i {
    display: none;
  }
  .topBar {
    width: 80%;
    margin: 40px auto;
  }
  .imagesContainer {
    width: 80%;
    margin: auto;
    height: 288px;
  }
  #screen {
    width: 80%;
    margin: 60px auto;
    display: flex;
    gap: 20px;
  }
  .rightSideContainer {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  .leftSide {
    width: 70%;
  }
  .imageContainerScanner {
    width: 300px;
    height: 450px;
  }
  .imageContainerScanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .offers h2 {
    font-size: 22px;
  }
  .location p {
    font-size: 18px;
    line-height: 1.5;
  }
  .location i {
    font-size: 18px;
    margin-top: 7px;
  }
  .facilities ul li {
    font-size: 18px;
    margin-top: 7px;
    font-weight: bold;
    color: rgba(2, 6, 12, 0.75);
  }
  .switchContainer a {
    margin-right: 35px;
  }
  .imageCardContainer {
    padding: 30px 30px 20px 30px;
  }
  .book-table {
    display: block;
  }
  .firstLine i {
    margin-bottom: 10px;
  }
  .firstLine p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .secondLine p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .locationLine {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .openatclosedline {
    font-size: 18px;
  }
}
